html, body {
  overflow-x: hidden;
}

body {
  height: 100vh;
  max-width: 700px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  position: relative;
  background-color: whitesmoke;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header {
  height: 10vh;
  margin: 1rem;
  padding: 1rem;
  color: #001f3f;
}

header span {
  font-size: 0.8rem;
  display: block;
}

div {
  height: 10vh;
  margin: 1rem;
  padding: 1rem;
  color: #ff851b;
  font-weight: bold;
  font-size: 4rem;
}

footer {
  margin: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  color: lightgrey;
}

footer a {
  color: lightgrey;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}
